html, div{
	background: url('img/footer_lodyas.png');
	background-size: cover;
	color: white;
	text-align: center;
}
.Btn-Sec button{
	color: #333;
}
.Btn-Sec{
	background: rgba(200, 200, 200, 0.2);
	padding-bottom: 30px;
}
ul{
	list-style-type: none;
	display: none;
}
span{
	display: none;
}